.load{
    position: fixed;
	  width: 100vw;
	  height: 100vh;
	  z-index:  999;
	  background-color: white;
	  display: flex;
	  justify-content: center;
	  align-items: center;

	  
}

.load.hide{
	display: none;
}

.header{
	border-bottom: #ABAEB2 2px solid;
	position: sticky;
  top: 0px;
  background-color: #fff;
}
.header-logo{
	font-family: 'Bungee Shade', cursive;
	font-size: 24px;
}
input{
	background-color: #f8f8ff;
	border: none;
	padding: 0px 10px;	
}
#pokemon-div{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	row-gap: 14px;
	width:80%;	
	margin: 16px 0;
}

.pokemon-name{
	width: 100%;
	margin: 0 auto;
	background-color:#fada5e;
	color: #000;
	padding: 5px 8px;
	border-radius: 5px;
	border: none;
	width: 100%;
	font-weight: 600;
	font-size: 24px;
	font-family: 'Crete Round', serif;
	box-shadow: 3px 3px 7px 2px #808080;
}
.pokemon-name:hover,.pokemon-name:focus{
   box-shadow: none;
 }
#pokemon-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media all and (min-width: 500px) and (max-width: 750px){
  #pokemon-div{
  	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: auto;
	gap: 14px 14px;
  }
  
}

@media all and (min-width: 750px){
  #pokemon-div{
  	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: auto;
	gap: 14px 14px;
  }
  
}
